body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7c8d6;
  padding: 50px;
}

.signup-container {
  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 2rem;
  height: 85vh;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  flex: 1;
  align-items: center;
}
.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32rem;
}

.signup-form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eaeff2;
}
.submit-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
select {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eaeff2;
  margin-bottom: 10px;
}
.petname {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.oauth-container {
  display: flex;
  width: 23rem;
  /* max-width: 23rem; */
  border-radius: 5px;
  align-self: flex-start;
  outline: 4px;
  justify-content: center;
  background-color: #eaeff2;
}
.oauth-buttons {
  display: flex;
  /* Center the buttons */
  align-items: center;
  gap: 2rem;
}
.oauth-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.oauth-buttons button:hover {
  opacity: 0.8;
}
.instagram,
.google,
.facebook {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.google {
  background-color: #ea4335;
  color: white;
}
.facebook {
  background-color: #1877f2;
  color: white;
}
.instagram {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: white;
}
.cat-image {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  margin-bottom: 0;
  max-width: 35rem;
}
legend {
  color: blue;
}
